<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>CATEGORY</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/category">
              <i class="bi bi-circle"></i><span>CATEGORY</span>
            </a>
          </li>
          <li>
            <a href="/admin/category/add">
              <i class="bi bi-circle"></i><span>ADD CATEGORY</span>
            </a>
          </li>
          
         
          
         
          
        
          
          
         
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>PRODUCTS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/product">
              <i class="bi bi-circle"></i><span>PRODUCTS </span>
            </a>
          </li>
          <li>
            <a href="/admin/product/add">
              <i class="bi bi-circle"></i><span>ADD PRODUCTS </span>
            </a>
          </li>
          
         
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link " data-bs-target="#tables-nav"  href="/admin/order">
          <i class="bi bi-layout-text-window-reverse"></i><span>ORDERS</span>
        </a>
        
      </li><!-- End Tables Nav -->
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#tables-nav"  href="/admin/user">
          <i class="bi bi-layout-text-window-reverse"></i><span>CUMSTOMERS</span>
        </a>
        
      </li>
      <!-- End Tables Nav -->


      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>COUPONS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/coupon">
              <i class="bi bi-circle"></i><span>COUPONS</span>
            </a>
          </li>
          <li>
            <a href="/admin/coupon/add">
              <i class="bi bi-circle"></i><span>ADD COUPONS</span>
            </a>
          </li>
      </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#banners-nav" data-bs-toggle="collapse" href="#">
            <i class=""></i><span>BANNERS</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="banners-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="/admin/banner">
                    <i class="bi bi-circle"></i><span>BANNERS</span>
                </a>
            </li>
            <li>
                <a href="/admin/banner/add">
                    <i class="bi bi-circle"></i><span>ADD BANNERS</span>
                </a>
            </li>
        </ul>
    </li>
    
      
      <!-- End Icons Nav -->
      <a href="/admin/logout" style="background-color: #d10909;color: #fff;width: 150px;" class="btn btn-sm fw-normal p-10 mb-3 mt-3">Logout</a> 
  </aside><!-- End Sidebar-->

  <main id="main" class="main d-flex justify-content-center">